<div class="text-center h3 mt-5"><%= @question.name %></div>
<div class="container col-6 mt-5">
  <div class="card text-center">
    <div class="card-header h2">
      Add Answer
    </div>
    <div class="card-body">
      <h4 class="card-title">
        <%= render 'form' %>
      </h4>
      </div>
    </div>
</div>
